<configuration>
    <system.webServer>
        <handlers>
  <add name="PythonHandler" path="*" verb="*" modules="FastCgiModule" scriptProcessor="D:\home\Python39\python.exe|D:\home\site\wwwroot\job_analysis\wsgi.py" resourceType="Unspecified" />
</handlers>

        <rewrite>
            <rules>
                <rule name="Django" stopProcessing="true">
                    <match url="^(.*)$" />
                    <conditions>
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="manage.py" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
