#logo{

	}

	body{
		background-color: #ebeff5;
	}

	#product-stock {
		background-color: #df150e;
	}

	#total-orders{
		background-color: #221fb6;
	}


	#orders-delivered{
		background-color: #0f7e2b;
	}

	#orders-pending{
		background-color: #c6c915;
	}



	