<configuration>
    <system.webServer>
        <handlers>
            <add name="Python FastCGI" path="*.py" verb="*" modules="FastCgiModule" scriptProcessor="D:\home\Python310\python.exe|D:\home\site\wwwroot\manage.py" resourceType="Unspecified" />
        </handlers>
        <rewrite>
            <rules>
                <rule name="Django" stopProcessing="true">
                    <match url="^(.*)$" />
                    <conditions>
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="manage.py" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
